{% extends 'base.html' %}

{% block titulo %}
    conversa
{% endblock titulo %}

{% block conteudo %}
    <a href="{% url 'home' %}"><--Voltar</a>
    <div id="div" style=" border:1px solid black;margin-top:50px; overflow : auto; height : 650px;display:flex;flex-direction:column; ">
       {% include 'mensagem/conversa/teste.html' %}
    </div>

     <form action="" method='post' id="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input id="botao" type="submit" value="Enviar">
        <button id="refresh_btn">Refresh</button>
        
    </form> 
    

   
    <script>

        $('#form').submit(function () {
            
            
            
            return false;
        });
        var element = document.getElementById("div");
        setTimeout(function(){
            element.scrollTop = element.scrollHeight;
        }, 1 * 1000);

        $(document).ready(function() { 
            $('#botao').click(function(){
                var elemento_texto = document.getElementById('texto_field');
                options = {
                    url: '{% url "conversa_mensagem_post" conversa.id %}',
                    type: 'POST',
                    success: function(data) {
                        
                        $('#div').html(data);
                        document.getElementById('id_imagem').value = "";
                        setTimeout(function(){
                            element.scrollTop = element.scrollHeight;
                        }, 1 * 1000);
                        elemento_texto.value = "";
                    }
                };

                $('#form').ajaxSubmit(options);
            });
            /*$('#botao').click(function(){
                var elemento_texto = document.getElementById('texto_field');
                var texto = elemento_texto.value;
                
                $.ajax({
                    url: '{% url "conversa_mensagem" conversa.id %}',
                    type : "GET",
                    data: {
                        'texto' : texto,
                        'mensagem' : imagem_field.value,
                        'inserir' : true,
                    },
                    success: function (data) {
                        $('#div').html(data);
                        element.scrollTop = element.scrollHeight;
                        elemento_texto.value = "";
                    }
                });

            });*/
            
            function loopF(){
                 $.ajax({
                    url: '{% url "conversa_mensagem" conversa.id %}', 
                    type:"GET",
                    data : {
                        'inserir' : false,
                        'texto' : '',
                    },
                    success: function(data) {
                        
                        $('#div').html(data);
                        setTimeout(function(){
                            element.scrollTop = element.scrollHeight;
                        }, 1 * 1000);
                        
                        
                        
                        
                    },
                    complete: function() {
                    // Schedule the next request when the current one's complete
                    //setTimeout(loopF, 1000);
                    }
                });
            }
            $('#refresh_btn').click(function(){
                
                loopF();
            });
        });
        
    </script>
    
{% endblock conteudo %}