{% extends 'base.html' %}

{% block titulo %}
    conversa
{% endblock titulo %}

{% block conteudo %}
    <a href="{% url 'home' %}"><--Voltar</a>
    <div id="div" style=" border:1px solid black;margin-top:100px; overflow : auto; height : 500px;display:flex;flex-direction:column; ">
       {% for mensagem in mensagens %}
            <div style ="border:1px solid black; width:50%;margin-top:50px;
            {% if user == mensagem.usuario %}
                align-self:flex-end; 
                background-color:green;
            {% else %}
                background-color:red;      
            {% endif %}">
                <p style ="word-break: break-all; 
                    
                    
                ">{{mensagem.texto}}</p>
            </div>
       {% endfor %}
    </div>

     <form action="" method='post' id="form">
        {% csrf_token %}
        <input type="text" id="texto_field" name="texto">
        <input id="botao" type="submit" value="Enviar">
    </form> 
    

    <div id="main">
        
    </div>

    <a id="detailed">click</a>
    <script>

        $('#form').submit(function () {
            return false;
        });
        var element = document.getElementById("div");
        element.scrollTop = element.scrollHeight;

        $(document).ready(function() { /// Wait till page is loaded
            $('#botao').click(function(){
                var elemento_texto = document.getElementById('texto_field');
                var texto = elemento_texto.value;

                $.ajax({
                    url: '{% url "conversa_mensagem" conversa.id %}',
                    data: {
                        'texto' : texto,
                        'inserir' : true,
                    },
                    success: function (data) {
                        $('#div').html(data);
                        element.scrollTop = element.scrollHeight;
                        elemento_texto.value = "";
                    }
                });

            });
            
            function loopF(){
                 $.ajax({
                    url: '{% url "conversa_mensagem" conversa.id %}', 
                    
                    data : {
                        'inserir' : false,
                        'texto' : '',
                    },
                    success: function(data) {
                        $('#div').html(data);
                    },
                    complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(loopF, 1000);
                    }
                });
            }
            loopF();
        });
        
    </script>
    
{% endblock conteudo %}